@import 'tailwindcss';

@layer base {
  :root {
    --text: 101 74% 9%;
    --background: 0 0% 96%;
    --primary: 338 72% 52%;
    --secondary: 40 91% 47%;
    --accent: 215 73% 34%;

    --foreground: 101 74% 9%;
    --background-base: 0 0% 96%;
  }
  .dark {
    --text: 101 74% 91%;
    --background: 0 0% 4%;
    --primary: 338 72% 48%;
    --secondary: 40 91% 53%;
    --accent: 215 73% 66%;

    --foreground: 101 74% 91%;
    --background-base: 0 0% 4%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text: 101 74% 91%;
      --background: 0 0% 4%;
      --primary: 338 72% 48%;
      --secondary: 40 91% 53%;
      --accent: 215 73% 66%;

      --foreground: 101 74% 91%;
      --background-base: 0 0% 4%;
    }
  }

  body {
    background: var(--background-base);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
